<h1 mat-dialog-title>התחברות</h1>
<form class="example-form" (submit)="signIn()">
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput placeholder="שם משתמש" [(ngModel)]="user" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="סיסמא" [(ngModel)]="password" type="password" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">כניסה</button>
    <button mat-raised-button (click)="cancel()">ביטול</button>
  </div>
</form>